*{
	position: relative;
	box-sizing: border-box;
}
.elements{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 12px 24px;
	font-size: 20px;
	color: #fff;
}
.givePadding{
	padding-top: 150px;
	padding-bottom: 100px;
}
.mainbg{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(45deg, red, yellow);
	position: fixed;
	left: 0;
	top: 0;
}
.wrapper{
	overflow: hidden;
}
/*navbar*/
.navbar{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	z-index: 20;
}
.navbar .elements{
	height: 50px;
}
@media(min-width: 768px){
	.navbar .elements{
		height: 80px;
	}
}
/*jumbotron*/
.jumbotron{
	background-color: rgba(0,0,0,0);
	margin-bottom: 0;
	padding-top: 85px;
	padding-bottom: 100px;
	min-height: 90vh;
}
.jumbotron .elements{
	height: 300px;
}
/*whatON*/
.whatON{
	background-color: #fff;
}

.album-art{
	float: left;
	padding:0;
}
.album-art .elements{
	padding-top: 100%;
}
@media(max-width: 576px){
	.album-art {
		width: 50%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.hidden-sm{
		display: none;
	}
}
/*albums*/
.phone-group{
	transform: rotateZ(35deg);
	left: -10px;
}

.phone{
	background-color: #fff;
	width: 150px;
	height: 300px;
	border: 5px solid purple;
	border-radius: 30px;
	margin-bottom: 30px;
}
.phone1, .phone4{
	margin-top: 150px;
}
@media(min-width: 768px){
	.phone-group{
		left: 0;
		position: absolute;
		bottom: -150px;
		left: 100px;
		width: 1000px;
	}
	.phone{
		width: 300px;
		height: 600px;
		border-radius: 50px;
	}
	.phone1, .phone4{
	margin-top: 250px;
	}
}
@media(min-width: 992px){
	.phone-group{
		bottom: -400px;
	}
}
/*device*/
.device{
	background-color: #222326;
}
.device .elements{
	height: 400px;
}
/*subcription*/
.subcription .elements{
	height: 600px;
}
/*footer*/
.footer{
	background-color: #000;
	padding-top: 100px;
	padding-bottom: 30px;
}
.footer .elements{
	height: 200px;
}
.footer .icon .elements{
	height: 50px;
}
.icon{
	margin-top: 100px; 
}